{% load static %}
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
{% comment %}
<div class="message">
 {% if messages %}

{% for message in messages %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hello  </strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% endif %}
</div>
{% endcomment %}


<br>
<div class="container col-md-8">
    <h3>Login Form</h3><br>
    <form action="{% url 'login_user' %}" method="post">

        {% csrf_token %}

    <input type="text" name="username" id="" class="form-control"> <br>
    <input type="password" name="password" id="" class="form-control"><br>
    
    <input type="submit" name="" id="" class="btn btn-primary" value="Login">
    <a href="{% url 'register_user' %}"  class="btn btn-primary" >Register</a>
    </form>
</div>