{% extends 'base.html' %}
{% load static %}
{% block title %} Index {% endblock title %}

{% block content %}



<div class="row">
    <div class="col col-8 mx-auto">
        <h1>This is Index</h1>
        <div class="card">
            <form action=""  class="form-control">
                {% csrf_token %}
                <input type="text" name="title" id="title" placeholder="Title" class="form-control"><br>
                <input type="submit" name="" id="submit" value="Add" class="btn btn-outline-primary">
            </form>
        </div>

    

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Completed</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody id="tasklist">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>    



    </div>
</div>









{% endblock content %}