{% extends 'base.html' %}
{% load static %}
{% block title %} Index {% endblock title %}

{% block content %}



<div class="row">
    <div class="col col-8 mx-auto">
        <h1>This is Index</h1>
        <div class="card">
            <form action="" method="post" class="form-control">
                {% csrf_token %}
                <input type="text" name="title" id="" placeholder="Title" class="form-control"><br>
                <input type="submit" name="" id="" value="Add" class="btn btn-outline-primary">
            </form>
        </div>

    

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Completed</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody id="tasklist">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>    



    </div>
</div>





<script>


const api_url = "http://127.0.0.1:8000/api/task/";

function taskList(){
    fetch(api_url,{method : 'GET'})
    .then(response => response.json())
    .then(data => {
        const tbody = document.getElementById('tasklist');
        tbody.innerHTML = '';
        console.log(data);

        data.forEach(todo => {

            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${todo.id}</td>
                <td>${todo.title}</td>
                <td>${todo.completed ? 'Yes' : 'No'}</td>
                <td>
                <button id="${todo.id}edit" class="btn btn-outline-secondary btn-sm">Edit</button>
                <button class="btn btn-outline-danger btn-sm ">Delete</button>
                </td>
                `;
                
                
            
            tbody.appendChild(tr);
            
        });


    })
    .catch(error => {
        console.error('Error occur',error)
    });
}



function deleteTask(){
    const edit_btn = document.getElementById('')
}

taskList()   
   
</script>



{% endblock content %}