{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block content %}

<div class="container  mx-auto my-5  mb-3 ">

    <form action="" method="post" class="container col-md-5 card mx-auto my-3 ">
        {% csrf_token %}
        
        <br>
        <input type="text" name="username" id="" placeholder="name" class="form-control"> <br>

        <input type="password" name="password" id="" placeholder="password" class="form-control"> <br>
        
        <input type="submit" name="" id="" value="Login" class="btn btn-primary">

        <strong>Don't have an account. <a href="">Register Here</a></strong>
    </form>

</div>

{% endblock content %}